/*Author:Athira S*/
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="page.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <img src="logo.png">
    <form action="/page" method="post">
    <table cellspacing="230px" cellpadding="20px">
        

     <tr width="70px">
      <td><button class="w3-button" onclick="window.location.href = 'FirstPage.html';">
        <h2>ADD NEW FIELDS </h2>
    </button></td>
    <td><button class="w3-button" onclick="window.location.href = 'historyPage.html';">
            <h2>HISTORY </h2>
        </button>
    </td>
     </tr>
     <tr width="70px">
    <td><button class="w3-button" onclick="window.location.href = 'userdetails.html';">
        <h2>USER DETAILS </h2>
    </button></td>
    <td><button class="w3-button" onclick="window.location.href = 'loginPage.html';">
        <h2>LOG OUT</h2>
    </button></td>
     </tr>
    </table>
    </form>
</body>
</html>
