<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <form action="/send" method="POST">
     
    <label for="name">Enter name</label><br>  
    <input type="text" id="name" name="name"><br>  
    <label for="pass">Signature</label><br>  
    <input type="text" id="pass" name="pass"><br>  
    <label for="pass">Box id</label><br>
    <input type="text" id="pass" name="pass"><br>  
     <label for="pass">Name of the medicine</label><br>
    <input type="text" id="pass" name="pass"><br>  
     <label for="pass">Date of manufactured</label><br>
    <input type="text" id="pass" name="pass"><br>  
     <label for="pass">Count</label><br>
    <input type="text" id="pass" name="pass"><br> 
     <label for="pass">Expiry date</label><br>
    <input type="text" id="pass" name="pass"><br> 
      <label for="pass"></label><br>
    <input type="text" id="pass" name="pass"><br> 
     <label for="pass">Tempereture</label><br>
    <input type="text" id="pass" name="pass"><br> 



    <input type="submit" value="submit">  
</form>        
    </form>
    
</body>
</html>
