body{
    background-color: #035852;
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
    position: fixed;
}


.contents{
    color:aliceblue;
    position:absolute;
}

h1{
    position: relative;
    padding-left: 400px;
    padding-top: 250px;
    font-size: 50px;
 
}

form{
    position: absolute;
    padding-left: 400px;
    padding-top: 30px;
}

.fields{
    /* height: 60px; */
    
    box-sizing: border-box;
    border-block-start-style: solid;
}

#usn{
    opacity: 0.6;
    /* left:212px;
    top:50px;
    position: absolute;
    overflow: visible;
    width:226px;
    white-space: nowrap;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight:normal;
    font-size:40px; */
}
#pass{
    opacity: 0.6;
    /* left:212px;
    top:60px;
    position: absolute;
    overflow: visible;
    width:226px;
    white-space: nowrap;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight:normal;
    font-size:40px; */
}

#container {
    text-align: center;
    border: 7px;
    width: 300px;  
height: 200px;  
padding-top: 100px;

}

#btn{
    padding: 205px;
   


}