*{
    background-color: #0D5953;
    background-attachment: fixed;
    box-sizing: border-box;
  
}
img{
    position: absolute;
    width: 100x;
    height: 100px;
    left:52px;
    top:36px;
    overflow: visible; 
}

button{
    padding: 5px;
    width: 230px;
    height: 60px;
    border-radius: 15px;
    border-color: #0D5953;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;

}